# Import Libraries

In [7]:
# Import libraries
import pandas as pd
import numpy as np
import zipfile
import os

# Library options

In [ ]:
# Library options
pd.set_option("display.max_columns", 500)

# Gather

Extract the zip file and load all its content that needed

## File Names

In [104]:
# Zip name
zip_name = "world-happiness-report.zip"

In [3]:
# Csv file names
csv_15_name = "2015.csv"
csv_16_name = "2016.csv"
csv_17_name = "2017.csv"

## Zip Content

In [4]:
# Old zip content
old_zip_content = [csv_15_name, csv_16_name, csv_17_name]

In [5]:
# zip content
current_zip_content = []

## Extract Zip File

In [9]:
# Extract zip and collect it's content names
with zipfile.ZipFile(zip_name, 'r') as _zip:
    _zip.extractall()
    current_zip_content = _zip.namelist()

## Load CSV Files

Load csv files as dataframes

In [12]:
# load csv files
df_15 = pd.read_csv(csv_15_name)
df_16 = pd.read_csv(csv_16_name)
df_17 = pd.read_csv(csv_17_name)

## Test

Now let's see if the current zip file concent is the same when this document has been last updated. True is the correct return value.

In [13]:
# Compare old and current content
old_zip_content == current_zip_content

True

# Assess & Clean

## Copy the original DataFrames

In [15]:
# Copy dataframes
df_15_clean = df_15.copy()
df_16_clean = df_16.copy()
df_17_clean = df_17.copy()

## Assess

In [16]:
df_15_clean.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [17]:
df_16_clean.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [18]:
df_17_clean.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [21]:
# 15 and 16 year's column names compare
list(df_15_clean) == list(df_16_clean)

False

In [22]:
df_15_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
Country                          158 non-null object
Region                           158 non-null object
Happiness Rank                   158 non-null int64
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [23]:
df_17_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
Country                          155 non-null object
Happiness.Rank                   155 non-null int64
Happiness.Score                  155 non-null float64
Whisker.high                     155 non-null float64
Whisker.low                      155 non-null float64
Economy..GDP.per.Capita.         155 non-null float64
Family                           155 non-null float64
Health..Life.Expectancy.         155 non-null float64
Freedom                          155 non-null float64
Generosity                       155 non-null float64
Trust..Government.Corruption.    155 non-null float64
Dystopia.Residual                155 non-null float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.6+ KB

## Issue Description

Rename the df_17_clean column names so we can merge them later.

## Cleaning Code

### Examine column names

In [24]:
list(df_15_clean)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [25]:
list(df_16_clean)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [26]:
list(df_17_clean)

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

### Code

In [29]:
# Rename column names
df_17_clean.rename(columns =
                  {
                      "Happiness.Rank" : "Happiness Rank",
                      "Happiness.Score" : "Happiness Score",
                      "Whisker.high" : "Whisker High",
                      "Whisker.low" : "Whisker Low",
                      "Economy..GDP.per.Capita." : "Economy (GDP per Capita)",
                      "Health..Life.Expectancy." : "Health (Life Expectancy)",
                      "Trust..Government.Corruption." : "Trust (Government Corruption)",
                      "Dystopia.Residual" : "Dystopia Residual"
                  }, inplace = True)

## Test

In [30]:
list(df_17_clean)

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Whisker High',
 'Whisker Low',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Dystopia Residual']

In [32]:
df_17_clean.head(5)

,Country,Happiness Rank,Happiness Score,Whisker High,Whisker Low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

## Assess

## Issue Description

Create a year column in each dataframes before we merge them

## Cleaning Code

In [34]:
# Create Year columns and fill its values
df_15_clean["Year"] = 2015
df_16_clean["Year"] = 2016
df_17_clean["Year"] = 2017

## Test

In [35]:
df_15_clean.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [36]:
df_16_clean.head(5)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [37]:
df_17_clean.head(5)

,Country,Happiness Rank,Happiness Score,Whisker High,Whisker Low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

## Assess

## Issue Description

Merge the three dataframes

## Cleaning Code

In [39]:
# Merge the first two dataframes
df_clean = df_15_clean.append(df_16_clean)

In [43]:
# Merge them with the third dataframe
df_clean = df_clean.append(df_17_clean)

## Test

In [44]:
df_clean.sample(5)

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Upper Confidence Interval,Whisker High,Whisker Low,Year
155,Syria,0.328580,0.663200,0.47489,0.156840,0.471790,156,3.006,0.721930,NaN,Middle East and Northern Africa,0.05015,0.189060,NaN,NaN,NaN,2015
72,Serbia,1.947084,1.069318,1.25819,0.208716,0.220126,73,5.395,0.650785,NaN,NaN,NaN,0.040904,NaN,5.49157,5.29843,2017
128,Myanmar,1.418050,0.271080,0.70905,0.440170,0.795880,129,4.307,0.482460,NaN,Southeastern Asia,0.04351,0.190340,NaN,NaN,NaN,2015
52,Japan,1.805840,1.380070,1.06054,0.467610,0.102240,53,5.921,0.914910,5.850,Eastern Asia,NaN,0.189850,5.992,NaN,NaN,2016
153,Afghanistan,2.145580,0.382270,0.11037,0.164300,0.312680,154,3.360,0.173440,3.288,Southern Asia,NaN,0.071120,3.432,NaN,NaN,2016

In [46]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470 entries, 0 to 154
Data columns (total 17 columns):
Country                          470 non-null object
Dystopia Residual                470 non-null float64
Economy (GDP per Capita)         470 non-null float64
Family                           470 non-null float64
Freedom                          470 non-null float64
Generosity                       470 non-null float64
Happiness Rank                   470 non-null int64
Happiness Score                  470 non-null float64
Health (Life Expectancy)         470 non-null float64
Lower Confidence Interval        157 non-null float64
Region                           315 non-null object
Standard Error                   158 non-null float64
Trust (Government Corruption)    470 non-null float64
Upper Confidence Interval        157 non-null float64
Whisker High                     155 non-null float64
Whisker Low                      155 non-null float64
Year                             470 non-null int64
dtypes: float64(13), int64(2), object(2)
memory usage: 66.1+ KB

## Assess

In [48]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470 entries, 0 to 154
Data columns (total 17 columns):
Country                          470 non-null object
Dystopia Residual                470 non-null float64
Economy (GDP per Capita)         470 non-null float64
Family                           470 non-null float64
Freedom                          470 non-null float64
Generosity                       470 non-null float64
Happiness Rank                   470 non-null int64
Happiness Score                  470 non-null float64
Health (Life Expectancy)         470 non-null float64
Lower Confidence Interval        157 non-null float64
Region                           315 non-null object
Standard Error                   158 non-null float64
Trust (Government Corruption)    470 non-null float64
Upper Confidence Interval        157 non-null float64
Whisker High                     155 non-null float64
Whisker Low                      155 non-null float64
Year                             470 non-null int64
dtypes: float64(13), int64(2), object(2)
memory usage: 66.1+ KB

In [50]:
df_clean["Dystopia Residual"].value_counts()

2.613550    1
1.498735    1
2.509310    1
2.773660    1
3.310290    1
2.290353    1
1.347590    1
1.993750    1
1.673286    1
2.403640    1
1.598880    1
1.322916    1
1.879567    1
2.247430    1
2.307200    1
2.824280    1
1.833020    1
2.089470    1
2.290740    1
1.571400    1
1.819850    1
3.191310    1
2.677820    1
2.237410    1
2.043840    1
2.228441    1
2.274050    1
2.232700    1
2.115690    1
2.353840    1
           ..
1.851000    1
1.453320    1
1.729192    1
2.010541    1
2.885860    1
1.764939    1
0.996139    1
1.530150    1
2.619550    1
1.921980    1
2.156040    1
3.035000    1
2.465700    1
2.371160    1
2.025000    1
2.268820    1
2.149990    1
2.474400    1
2.451862    1
2.085280    1
2.323230    1
1.584613    1
2.044970    1
2.609040    1
1.462319    1
2.313707    1
2.837155    1
1.429835    1
0.899910    1
2.100170    1
Name: Dystopia Residual, Length: 470, dtype: int64

## Issue Description

Fill missing values with None

## Cleaning Code

In [65]:
df_clean.fillna("None", inplace = True)

## Test

In [78]:
df_clean.head(15)

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Upper Confidence Interval,Whisker High,Whisker Low,Year
0,Switzerland,2.51738,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,None,Western Europe,0.03411,0.41978,None,None,None,2015
1,Iceland,2.70201,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,None,Western Europe,0.04884,0.14145,None,None,None,2015
2,Denmark,2.49204,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,None,Western Europe,0.03328,0.48357,None,None,None,2015
3,Norway,2.46531,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,None,Western Europe,0.0388,0.36503,None,None,None,2015
4,Canada,2.45176,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,None,North America,0.03553,0.32957,None,None,None,2015
5,Finland,2.61955,1.29025,1.31826,0.64169,0.23351,6,7.406,0.88911,None,Western Europe,0.0314,0.41372,None,None,None,2015
6,Netherlands,2.46570,1.32944,1.28017,0.61576,0.47610,7,7.378,0.89284,None,Western Europe,0.02799,0.31814,None,None,None,2015
7,Sweden,2.37119,1.33171,1.28907,0.65980,0.36262,8,7.364,0.91087,None,Western Europe,0.03157,0.43844,None,None,None,2015
8,New Zealand,2.26425,1.25018,1.31967,0.63938,0.47501,9,7.286,0.90837,None,Australia and New Zealand,0.03371,0.42922,None,None,None,2015
9,Australia,2.26646,1.33358,1.30923,0.65124,0.43562,10,7.284,0.93156,None,Australia and New Zealand,0.04083,0.35637,None,None,None,2015
10,Israel,3.08854,1.22857,1.22393,0.41319,0.33172,11,7.278,0.91387,None,Middle East and Northern Africa,0.0347,0.07785,None,None,None,2015
11,Costa Rica,3.17728,0.95578,1.23788,0.63376,0.25497,12,7.226,0.86027,None,Latin America and Caribbean,0.04454,0.10583,None,None,None,2015
12,Austria,2.53320,1.33723,1.29704,0.62433,0.33088,13,7.200,0.89042,None,Western Europe,0.03751,0.18676,None,None,None,2015
13,Mexico,3.60214,1.02054,0.91451,0.48181,0.14074,14,7.187,0.81444,None,Latin America and Caribbean,0.04176,0.21312,None,None,None,2015
14,United States,2.51011,1.39451,1.24711,0.54604,0.40105,15,7.119,0.86179,None,North America,0.03839,0.15890,None,None,None,2015

## Assess

## Issue Description

Fill missing Region values by look up in the other rows

## Cleaning Code

In [67]:
# Subset of clean dataframe for filtering None values
df_country_region_without_nan = df_clean[df_clean["Region"] != "None"]

In [68]:
country_region_dictionary = dict(zip(df_country_region_without_nan.Country, df_country_region_without_nan.Region))

In [69]:
country_region_dictionary

{'Afghanistan': 'Southern Asia',
 'Albania': 'Central and Eastern Europe',
 'Algeria': 'Middle East and Northern Africa',
 'Angola': 'Sub-Saharan Africa',
 'Argentina': 'Latin America and Caribbean',
 'Armenia': 'Central and Eastern Europe',
 'Australia': 'Australia and New Zealand',
 'Austria': 'Western Europe',
 'Azerbaijan': 'Central and Eastern Europe',
 'Bahrain': 'Middle East and Northern Africa',
 'Bangladesh': 'Southern Asia',
 'Belarus': 'Central and Eastern Europe',
 'Belgium': 'Western Europe',
 'Belize': 'Latin America and Caribbean',
 'Benin': 'Sub-Saharan Africa',
 'Bhutan': 'Southern Asia',
 'Bolivia': 'Latin America and Caribbean',
 'Bosnia and Herzegovina': 'Central and Eastern Europe',
 'Botswana': 'Sub-Saharan Africa',
 'Brazil': 'Latin America and Caribbean',
 'Bulgaria': 'Central and Eastern Europe',
 'Burkina Faso': 'Sub-Saharan Africa',
 'Burundi': 'Sub-Saharan Africa',
 'Cambodia': 'Southeastern Asia',
 'Cameroon': 'Sub-Saharan Africa',
 'Canada': 'North America',
 'Central African Republic': 'Sub-Saharan Africa',
 'Chad': 'Sub-Saharan Africa',
 'Chile': 'Latin America and Caribbean',
 'China': 'Eastern Asia',
 'Colombia': 'Latin America and Caribbean',
 'Comoros': 'Sub-Saharan Africa',
 'Congo (Brazzaville)': 'Sub-Saharan Africa',
 'Congo (Kinshasa)': 'Sub-Saharan Africa',
 'Costa Rica': 'Latin America and Caribbean',
 'Croatia': 'Central and Eastern Europe',
 'Cyprus': 'Western Europe',
 'Czech Republic': 'Central and Eastern Europe',
 'Denmark': 'Western Europe',
 'Djibouti': 'Sub-Saharan Africa',
 'Dominican Republic': 'Latin America and Caribbean',
 'Ecuador': 'Latin America and Caribbean',
 'Egypt': 'Middle East and Northern Africa',
 'El Salvador': 'Latin America and Caribbean',
 'Estonia': 'Central and Eastern Europe',
 'Ethiopia': 'Sub-Saharan Africa',
 'Finland': 'Western Europe',
 'France': 'Western Europe',
 'Gabon': 'Sub-Saharan Africa',
 'Georgia': 'Central and Eastern Europe',
 'Germany': 'Western Europe',
 'Ghana': 'Sub-Saharan Africa',
 'Greece': 'Western Europe',
 'Guatemala': 'Latin America and Caribbean',
 'Guinea': 'Sub-Saharan Africa',
 'Haiti': 'Latin America and Caribbean',
 'Honduras': 'Latin America and Caribbean',
 'Hong Kong': 'Eastern Asia',
 'Hungary': 'Central and Eastern Europe',
 'Iceland': 'Western Europe',
 'India': 'Southern Asia',
 'Indonesia': 'Southeastern Asia',
 'Iran': 'Middle East and Northern Africa',
 'Iraq': 'Middle East and Northern Africa',
 'Ireland': 'Western Europe',
 'Israel': 'Middle East and Northern Africa',
 'Italy': 'Western Europe',
 'Ivory Coast': 'Sub-Saharan Africa',
 'Jamaica': 'Latin America and Caribbean',
 'Japan': 'Eastern Asia',
 'Jordan': 'Middle East and Northern Africa',
 'Kazakhstan': 'Central and Eastern Europe',
 'Kenya': 'Sub-Saharan Africa',
 'Kosovo': 'Central and Eastern Europe',
 'Kuwait': 'Middle East and Northern Africa',
 'Kyrgyzstan': 'Central and Eastern Europe',
 'Laos': 'Southeastern Asia',
 'Latvia': 'Central and Eastern Europe',
 'Lebanon': 'Middle East and Northern Africa',
 'Lesotho': 'Sub-Saharan Africa',
 'Liberia': 'Sub-Saharan Africa',
 'Libya': 'Middle East and Northern Africa',
 'Lithuania': 'Central and Eastern Europe',
 'Luxembourg': 'Western Europe',
 'Macedonia': 'Central and Eastern Europe',
 'Madagascar': 'Sub-Saharan Africa',
 'Malawi': 'Sub-Saharan Africa',
 'Malaysia': 'Southeastern Asia',
 'Mali': 'Sub-Saharan Africa',
 'Malta': 'Western Europe',
 'Mauritania': 'Sub-Saharan Africa',
 'Mauritius': 'Sub-Saharan Africa',
 'Mexico': 'Latin America and Caribbean',
 'Moldova': 'Central and Eastern Europe',
 'Mongolia': 'Eastern Asia',
 'Montenegro': 'Central and Eastern Europe',
 'Morocco': 'Middle East and Northern Africa',
 'Mozambique': 'Sub-Saharan Africa',
 'Myanmar': 'Southeastern Asia',
 'Namibia': 'Sub-Saharan Africa',
 'Nepal': 'Southern Asia',
 'Netherlands': 'Western Europe',
 'New Zealand': 'Australia and New Zealand',
 'Nicaragua': 'Latin America and Caribbean',
 'Niger': 'Sub-Saharan Africa',
 'Nigeria': 'Sub-Saharan Africa',
 'North Cyprus': 'Western Europe',
 'Norway': 'Western Europe',
 'Oman': 'Middle East and Northern Africa',
 'Pakistan': 'Southern Asia',
 'Palestinian Territories': 'Middle East and Northern Africa',
 'Panama': 'Latin America and Caribbean',
 'Paraguay': 'Latin America and Caribbean',
 'Peru': 'Latin America and Caribbean',
 'Philippines': 'Southeastern Asia',
 'Poland': 'Central and Eastern Europe',
 'Portugal': 'Western Europe',
 'Puerto Rico': 'Latin America and Caribbean',
 'Qatar': 'Middle East and Northern Africa',
 'Romania': 'Central and Eastern Europe',
 'Russia': 'Central and Eastern Europe',
 'Rwanda': 'Sub-Saharan Africa',
 'Saudi Arabia': 'Middle East and Northern Africa',
 'Senegal': 'Sub-Saharan Africa',
 'Serbia': 'Central and Eastern Europe',
 'Sierra Leone': 'Sub-Saharan Africa',
 'Singapore': 'Southeastern Asia',
 'Slovakia': 'Central and Eastern Europe',
 'Slovenia': 'Central and Eastern Europe',
 'Somalia': 'Sub-Saharan Africa',
 'Somaliland Region': 'Sub-Saharan Africa',
 'Somaliland region': 'Sub-Saharan Africa',
 'South Africa': 'Sub-Saharan Africa',
 'South Korea': 'Eastern Asia',
 'South Sudan': 'Sub-Saharan Africa',
 'Spain': 'Western Europe',
 'Sri Lanka': 'Southern Asia',
 'Sudan': 'Sub-Saharan Africa',
 'Suriname': 'Latin America and Caribbean',
 'Swaziland': 'Sub-Saharan Africa',
 'Sweden': 'Western Europe',
 'Switzerland': 'Western Europe',
 'Syria': 'Middle East and Northern Africa',
 'Taiwan': 'Eastern Asia',
 'Tajikistan': 'Central and Eastern Europe',
 'Tanzania': 'Sub-Saharan Africa',
 'Thailand': 'Southeastern Asia',
 'Togo': 'Sub-Saharan Africa',
 'Trinidad and Tobago': 'Latin America and Caribbean',
 'Tunisia': 'Middle East and Northern Africa',
 'Turkey': 'Middle East and Northern Africa',
 'Turkmenistan': 'Central and Eastern Europe',
 'Uganda': 'Sub-Saharan Africa',
 'Ukraine': 'Central and Eastern Europe',
 'United Arab Emirates': 'Middle East and Northern Africa',
 'United Kingdom': 'Western Europe',
 'United States': 'North America',
 'Uruguay': 'Latin America and Caribbean',
 'Uzbekistan': 'Central and Eastern Europe',
 'Venezuela': 'Latin America and Caribbean',
 'Vietnam': 'Southeastern Asia',
 'Yemen': 'Middle East and Northern Africa',
 'Zambia': 'Sub-Saharan Africa',
 'Zimbabwe': 'Sub-Saharan Africa'}

In [89]:
# Create a function that fills missing Region values
def Region_Lookup(row):
    if(row["Region"] == "None"):
        if (row["Country"] in country_region_dictionary):
            row["Region"] = country_region_dictionary[row["Country"]]
    return row

In [92]:
df_clean = df_clean.apply(Region_Lookup, axis = 1)

## Test

In [93]:
df_clean["Region"].value_counts()

Sub-Saharan Africa                 117
Central and Eastern Europe          87
Latin America and Caribbean         68
Western Europe                      63
Middle East and Northern Africa     58
Southeastern Asia                   26
Southern Asia                       21
Eastern Asia                        16
North America                        6
Australia and New Zealand            6
None                                 2
Name: Region, dtype: int64

## Assess

In [94]:
df_clean.describe()

,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Trust (Government Corruption),Year
count,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000
mean,2.092717,0.927830,0.990347,0.402828,0.242241,78.829787,5.370728,0.579968,0.134790,2015.993617
std,0.565772,0.415584,0.318707,0.150356,0.131543,45.281408,1.136998,0.240161,0.111313,0.816907
min,0.328580,0.000000,0.000000,0.000000,0.000000,1.000000,2.693000,0.000000,0.000000,2015.000000
25%,1.737975,0.605292,0.793000,0.297615,0.152831,40.000000,4.509000,0.402301,0.059777,2015.000000
50%,2.094640,0.995439,1.025665,0.418347,0.223140,79.000000,5.282500,0.630053,0.099502,2016.000000
75%,2.455575,1.252443,1.228745,0.516850,0.315824,118.000000,6.233750,0.768298,0.173161,2017.000000
max,3.837720,1.870766,1.610574,0.669730,0.838075,158.000000,7.587000,1.025250,0.551910,2017.000000

## Issue Description

## Cleaning Code

## Test

## Assess

## Issue Description

## Cleaning Code

## Test

## Assess

## Issue Description

## Cleaning Code

## Test

# Store

Save the clean dataframes into csv files, then compress them into a zip file. After that delete the old extracted "dirty" csv files.

## File Names

In [100]:
# Zip name
zip_name = zip_name[:-4] + "_clean.zip"

In [101]:
# Csv file names
csv_name = "word_happines_clean.csv"

## Create CSV Files

In [102]:
# Save the dataframes as csv files
df_clean.to_csv(csv_name, index = False)

## Create the Zip File

In [105]:
# compress the csv files
with zipfile.ZipFile(zip_name, "w") as _zip:
    _zip.write(csv_name)

## Delete Old Files

In [106]:
# Delete the old extracted csv files
os.remove(csv_name)

# Source

Dataset source : www.kaggle.com